// bs.def.scss

@import "../../vendor/twbs/bootstrap/scss/functions";

// Default variables overrides
$body-bg: #f2f2f2;
$body-color: #333;
$border-radius: 0.5rem;
$primary: #183c5e;
$text-bg-primary: white;
$success: #0a5316;
$text-bg-success: white;

@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/variables-dark";

@import "../../vendor/twbs/bootstrap/scss/maps";
@import "../../vendor/twbs/bootstrap/scss/mixins";
@import "../../vendor/twbs/bootstrap/scss/root";
@import "../../vendor/twbs/bootstrap/scss/reboot";
@import "../../vendor/twbs/bootstrap/scss/utilities";

@import "../../vendor/twbs/bootstrap/scss/type";
@import "../../vendor/twbs/bootstrap/scss/grid";
@import "../../vendor/twbs/bootstrap/scss/containers";
@import "../../vendor/twbs/bootstrap/scss/nav";
@import "../../vendor/twbs/bootstrap/scss/navbar";

@import "../../vendor/twbs/bootstrap/scss/alert";
@import "../../vendor/twbs/bootstrap/scss/badge";
@import "../../vendor/twbs/bootstrap/scss/breadcrumb";
@import "../../vendor/twbs/bootstrap/scss/buttons";
@import "../../vendor/twbs/bootstrap/scss/button-group";
@import "../../vendor/twbs/bootstrap/scss/card";
@import "../../vendor/twbs/bootstrap/scss/forms";
@import "../../vendor/twbs/bootstrap/scss/tables";
@import "../../vendor/twbs/bootstrap/scss/transitions";
@import "../../vendor/twbs/bootstrap/scss/toasts";
@import "../../vendor/twbs/bootstrap/scss/popover";

@import "../../vendor/twbs/bootstrap/scss/modal";
@import "../../vendor/twbs/bootstrap/scss/dropdown";
@import "../../vendor/twbs/bootstrap/scss/offcanvas";

@import "../../vendor/twbs/bootstrap/scss/utilities/api";

.main-wrapper {
  align-items: stretch;
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main-wrapper::before {
  background: linear-gradient(
    180deg,
    rgba(8, 4, 73, 1) 0%,
    rgba(3, 58, 128, 1) 100%
  );
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 250px;
  width: 100%;
  z-index: -1;
}

.main-breadcrumb {
  opacity: 0.66;
}

.main-breadcrumb a {
  text-decoration-line: none;
}

.main-breadcrumb a:hover {
  text-decoration-line: underline;
}

.main-breadcrumb * {
  color: white !important;
}

.main-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.text-bg-primary {
  color: $text-bg-primary;
}

.text-bg-success {
  color: $text-bg-success;
}

.form-text-counter {
  font-weight: bold;
}

.fixed-top {
  @extend .fixed-top;
  position: sticky;
  top: 0;
  z-index: 10000;
}
